@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}