.error-watchlist{
    text-align: center;
    margin-top: 10%;
}

.stocks-table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    .priceWatchlist {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }

    .company-head {
        flex: 3;
    }

    .basePrice {
        padding-right: 1%;
    }
}